<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>749030522746-8qak7d0amcmdbiui1m9o4iutrf9t42mt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.749030522746-8qak7d0amcmdbiui1m9o4iutrf9t42mt</string>
	<key>API_KEY</key>
	<string>AIzaSyDT0Ajpukv6VWU1FH05OBsgLpxEs4rmU-4</string>
	<key>GCM_SENDER_ID</key>
	<string>749030522746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rotativodigitalmonlevade</string>
	<key>PROJECT_ID</key>
	<string>rotativo-digital-monlevade</string>
	<key>STORAGE_BUCKET</key>
	<string>rotativo-digital-monlevade.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:749030522746:ios:101baeb1157baaf3</string>
	<key>DATABASE_URL</key>
	<string>https://rotativo-digital-monlevade.firebaseio.com</string>
</dict>
</plist>