<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1027293819125-a2u7u9u208e437rgc2c4lvpkk68mtg2m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1027293819125-a2u7u9u208e437rgc2c4lvpkk68mtg2m</string>
	<key>API_KEY</key>
	<string>AIzaSyCy0P1pMT-VkVZph9GbBc0U_rXeV6oE2qA</string>
	<key>GCM_SENDER_ID</key>
	<string>1027293819125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rotativodigitaligarape</string>
	<key>PROJECT_ID</key>
	<string>rotativo-digital-igarape</string>
	<key>STORAGE_BUCKET</key>
	<string>rotativo-digital-igarape.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1027293819125:ios:ebd64d033ea7b9c5</string>
	<key>DATABASE_URL</key>
	<string>https://rotativo-digital-igarape.firebaseio.com</string>
</dict>
</plist>