<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>429184212196-aubjru6gueh60jsq5eulhg7rad8tv747.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.429184212196-aubjru6gueh60jsq5eulhg7rad8tv747</string>
	<key>API_KEY</key>
	<string>AIzaSyCAog6e97iRtgeJevBVWIsrSE2vcHz58iI</string>
	<key>GCM_SENDER_ID</key>
	<string>429184212196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rotativodigitalvicosa</string>
	<key>PROJECT_ID</key>
	<string>rotativo-digital-vicosa</string>
	<key>STORAGE_BUCKET</key>
	<string>rotativo-digital-vicosa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:429184212196:ios:ed1dd30e61f4d6b13ae0f1</string>
	<key>DATABASE_URL</key>
	<string>https://rotativo-digital-vicosa.firebaseio.com</string>
</dict>
</plist>
