<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>956389366786-vf31pufioor28s6ci8r4hsqhto7dovaf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.956389366786-vf31pufioor28s6ci8r4hsqhto7dovaf</string>
	<key>API_KEY</key>
	<string>AIzaSyB4BUsyXieO_7p4e2A4d0QRP1a3G6EmwaI</string>
	<key>GCM_SENDER_ID</key>
	<string>956389366786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rotativodigitalcapaobonito</string>
	<key>PROJECT_ID</key>
	<string>rotativo-digital-capao-bonito</string>
	<key>STORAGE_BUCKET</key>
	<string>rotativo-digital-capao-bonito.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:956389366786:ios:477ace9a8970ccfe</string>
	<key>DATABASE_URL</key>
	<string>https://rotativo-digital-capao-bonito.firebaseio.com</string>
</dict>
</plist>