<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>303504829220-98nsqgp025f8eg2pptita685ark4vr35.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303504829220-98nsqgp025f8eg2pptita685ark4vr35</string>
	<key>API_KEY</key>
	<string>AIzaSyAAD9baBkaI6Qo2m46hzcuA_iPpWCiHYR0</string>
	<key>GCM_SENDER_ID</key>
	<string>303504829220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rotativodigital</string>
	<key>PROJECT_ID</key>
	<string>rotativo-digital</string>
	<key>STORAGE_BUCKET</key>
	<string>rotativo-digital.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303504829220:ios:bc86b711ca12ca1ac061b1</string>
	<key>DATABASE_URL</key>
	<string>https://rotativo-digital.firebaseio.com</string>
</dict>
</plist>