<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>111749169701-mv76vrdpcq94jkpa5nc7i4f6rjs0296c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.111749169701-mv76vrdpcq94jkpa5nc7i4f6rjs0296c</string>
	<key>API_KEY</key>
	<string>AIzaSyAflvBFvGFSYrNM0SioajyxFEz9Hn_dLuo</string>
	<key>GCM_SENDER_ID</key>
	<string>111749169701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rotativodigitalitarare</string>
	<key>PROJECT_ID</key>
	<string>rotativo-digital-itarare</string>
	<key>STORAGE_BUCKET</key>
	<string>rotativo-digital-itarare.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:111749169701:ios:9d07866d8daa6a73</string>
	<key>DATABASE_URL</key>
	<string>https://rotativo-digital-itarare.firebaseio.com</string>
</dict>
</plist>