<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>375895120621-5rtkj5haj070e96v0jo9kp2ulgvpsnom.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.375895120621-5rtkj5haj070e96v0jo9kp2ulgvpsnom</string>
	<key>API_KEY</key>
	<string>AIzaSyCwNVCu3PMj4IJWVYCgxh1V1HAKaq2KtsE</string>
	<key>GCM_SENDER_ID</key>
	<string>375895120621</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rotativodigitalpassos</string>
	<key>PROJECT_ID</key>
	<string>rotativo-digital-passos</string>
	<key>STORAGE_BUCKET</key>
	<string>rotativo-digital-passos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:375895120621:ios:eaefdfd6666c2bf7</string>
	<key>DATABASE_URL</key>
	<string>https://rotativo-digital-passos.firebaseio.com</string>
</dict>
</plist>