<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>205152523017-eadp232of4cu8q1ak4vg0csbrmdemf8e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.205152523017-eadp232of4cu8q1ak4vg0csbrmdemf8e</string>
	<key>API_KEY</key>
	<string>AIzaSyC4G3sYisHuOCF8azACzKbM9X5QENM8JGs</string>
	<key>GCM_SENDER_ID</key>
	<string>205152523017</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rotativodigitaljanauba</string>
	<key>PROJECT_ID</key>
	<string>rotativo-digital-janauba</string>
	<key>STORAGE_BUCKET</key>
	<string>rotativo-digital-janauba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:205152523017:ios:3a35e1de9a2ee6007539d8</string>
</dict>
</plist>